<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="commandFactory" class="org.itstep.controller.CommandFactory"/>
    <bean id="contactService" class="org.itstep.model.ContactService">
        <constructor-arg index="0" value="G:\IntelliJ IDEA\Projects\ContactsWeb\src\main\resources\contacts.json"/>
    </bean>
    <bean id="controller" class="org.itstep.controller.Controller">
        <constructor-arg index="0" ref="contactService"/>
        <constructor-arg index="1" ref="commandFactory"/>
    </bean>
    <bean id="addCommand" class="org.itstep.controller.AddCommand">
        <constructor-arg index="0" ref="contactService"/>
    </bean>
    <bean id="findCommand" class="org.itstep.controller.FindCommand">
        <constructor-arg index="0" ref="contactService"/>
    </bean>
    <bean id="listCommand" class="org.itstep.controller.ListCommand">
        <constructor-arg index="0" ref="contactService"/>
    </bean>
</beans>